
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: white;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.user-name{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.news-articles{
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}
input{
    width: 30%;
    height: 45%;
    padding-left: 10px;
    /* border: none; */
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.date{
    width: 7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer{
    width: 100%;
    height: 160px;
    margin-top: 70px;
   /* background-color: cornflowerblue; */
    text-align: center;
    padding-top: 20px;

}


@media only screen and (min-width: 180px) and (max-width: 567px){
header{
   width: 100%;
   padding: 15px;
   height: 25vh;
   justify-content: space-evenly;
   display: flex;
   flex-wrap: wrap;
  
}
.news-articles{
    width: 100%;
    display: inline-block;
    padding-top: 25vh;
}
input{
    width: 70%;
    height: 25%;
    /* border: none; */
    border-radius: 5px;
  
}
.date{
    width: 50px;
}

footer{
    width: 100%;
    height: 40vh;
    margin-top: 20vh;
    text-align: center;
    padding-top: 20px;

}
}